.CustomerInfo_customer-info__8_dK8 {
    display: flex;
    flex-direction: column
}

.CustomerInfo_customer-info__header__vUsm9 {
    justify-content: center;
    border-bottom: 1px solid var(--gray-200,#eaecf0)
}

.CustomerInfo_customer-info__content__gFjoX,.CustomerInfo_customer-info__footer__wrr_x,.CustomerInfo_customer-info__header__vUsm9 {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    gap: 16px
}

.CustomerInfo_customer-info__footer__wrr_x {
    border-top: 1px solid var(--gray-200,#eaecf0)
}

.CustomerInfo_customer-info__footer__wrr_x .CustomerInfo_img-wrapper__Nyg9S {
    width: 40px;
    height: 40px
}

.CustomerInfo_customer-info__footer__wrr_x .CustomerInfo_dropdown-btn__Dl8eb {
    justify-content: space-between
}

.CustomerInfo_allowanceBaggage__SiKvU {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%
}

.CustomerInfo_allowanceBaggageItem__tQoGL {
    display: flex;
    gap: 4px;
    align-items: center
}

.CustomerInfo_selectInput__Mwxef {
    position: relative
}

.CustomerInfo_dropdown__avEOS {
    min-width: 250px;
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    inset: 0 auto auto 0;
    top: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray-100,#f2f4f7);
    background: var(--base-white,#fff);
    box-shadow: 0 8px 8px -4px rgba(16,24,40,.03),0 20px 24px -4px rgba(16,24,40,.08);
    z-index: 1
}

.CustomerInfo_dropdown__avEOS a {
    width: 100%
}

.CustomerInfo_dropdown-item__rDADs {
    width: 100%;
    padding: 15px 30px;
    cursor: pointer
}

.CustomerInfo_dropdown-item__rDADs:hover {
    width: 100%;
    background: var(--gray-50,#f9fafb)
}

.CustomerInfo_selectInput__Mwxef .CustomerInfo_dropdown__avEOS {
    min-width: 300px
}

@media(max-width: 1024px) {
    .CustomerInfo_flight-packages__cPaVZ,.CustomerInfo_input-group__U1xTl {
        grid-template-columns:100%
    }
}

.FlightCalendar_flight-calendar__LBr9y {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex: 1 0;
    padding: 16px 24px;
    overflow: auto;
    max-width: 100%
}

.FlightCalendar_flight-calendar-item__1IeW2 {
    min-width: 96px;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex: 1 0;
    border-radius: 12px;
    border: 1px solid var(--gray-200,#eaecf0)
}

.FlightCalendar_day__4oF_S,.FlightCalendar_min-price__ha2Cx {
    color: var(--gray-600,#475467)
}

.FlightCalendar_date__THTRM {
    color: var(--primary-dark,#0e4f4f)
}

.FlightCalendar_flight-calendar-item__active__qaOQY {
    border: 1px solid var(--primary-dark,#0e4f4f);
    background: var(--primary-light,#caf8f8);
    color: var(--primary-dark,#0e4f4f)
}

.FlightList_flight-card-list__MdNDe {
    padding: 16px 24px
}

@media(max-width: 1024px) {
    .FlightList_flight-card-list__MdNDe {
        padding:8px 16px 16px;
        gap: 16px
    }
}

.FlightSidebar_side-bar__lbiAI {
    width: 280px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 24px;
    border: 1px solid var(--gray-200,#eaecf0);
    background: var(--base-white,#fff);
    box-shadow: var(--shadow-sm)
}

.FlightSidebar_side-bar__header__GQbTV {
    display: flex;
    padding: 20px 24px;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid var(--gray-200,#eaecf0)
}

.FlightSidebar_side-bar__lbiAI .FlightSidebar_filter-item__jtakl {
    display: flex;
    padding: 20px 24px;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--gray-200,#eaecf0)
}

.FlightSidebar_side-bar__lbiAI .FlightSidebar_filter-item__jtakl:last-child {
    border-bottom: none
}

.FlightSidebar_side-bar__footer__XdUT_ {
    display: flex;
    padding: 20px 24px;
    gap: 16px;
    align-items: center;
    border-top: 1px solid var(--gray-200,#eaecf0)
}

.FlightSidebar_side-bar__lbiAI .FlightSidebar_img-wrapper__LYn8Z {
    width: 40px;
    height: 40px
}

.FlightSidebar_side-bar__lbiAI .FlightSidebar_apply-mb-btn__VyKQo {
    display: none
}

@media(max-width: 1024px) {
    .FlightSidebar_side-bar__lbiAI {
        position:fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100vh;
        border-radius: 0
    }

    .FlightSidebar_side-bar__lbiAI .FlightSidebar_apply-mb-btn__VyKQo {
        display: block
    }
}

.Payment_navigation__gDaTK {
    padding: 16px 32px
}

.Payment_payment-content__GIjbC {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.Payment_card-header__kV82D {
    padding: 20px 24px;
    gap: 16px;
    border-bottom: 1px solid var(--gray-200,#eaecf0)
}

.Payment_card-content__FwSj6 {
    padding: 20px 24px
}

.Payment_card-footer__cyV4g {
    padding: 20px 24px;
    border-top: 1px solid var(--gray-200,#eaecf0)
}

.Payment_partners__WSTZW {
    background: var(--gray-50,#f9fafb)
}

.Payment_total-price-pin__ZxZa_ {
    border-radius: 0;
    bottom: 0;
    position: sticky;
    padding: 20px 32px
}

.Payment_total-price-pin__content__H_04z {
    padding: 0 32px;
    width: 1280px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px
}

@media(max-width: 1024px) {
    .Payment_flight-payment__VVzYh {
        padding:24px;
        gap: 24px
    }

    .Payment_card-content__FwSj6 {
        padding: 16px
    }
}

.QrPayment_qr-content__xKdx_ {
    border-radius: 24px;
    border: 1px solid var(--primary-base,#77dada);
    background: #f3ffff;
    box-shadow: var(--shadow-sm);
    padding: 40px
}

.QrPayment_qr-code__lRIIP {
    background-color: var(--primary-base);
    padding: 15px;
    border-radius: 24px;
    width: 200px;
    height: 200px
}

.QrPayment_disabledBtn__hZSAZ {
    background: var(--gray-50)!important;
    color: var(--gray-700)!important;
    border: 1px solid #eaecf0
}

@media(max-width: 1024px) {
    .QrPayment_qr-content__xKdx_ {
        flex-direction:column;
        padding: 24px;
        gap: 24px
    }

    .QrPayment_qr-content__xKdx_ h4 {
        font-size: 26px
    }

    .QrPayment_qr-content__xKdx_ label {
        font-size: 16px
    }
}

.TicketDetail_ticket-detail__t02Gr label {
    color: var(--gray-600,#475467)
}

.TicketDetail_ticket-detail__t02Gr p {
    min-width: 96px;
    color: var(--gray-900,#101828)
}

@media(max-width: 1024px) {
    .TicketDetail_input-group__0wPgi {
        flex-direction:column
    }
}

.PackageDetail_ticket-detail__QdcO5 label {
    color: var(--gray-600,#475467)
}

.PackageDetail_ticket-detail__QdcO5 p {
    min-width: 96px;
    color: var(--gray-900,#101828)
}

.PackageDetail_ticket-detail__QdcO5 .PackageDetail_input-group__9R9V4 {
    display: grid;
    grid-template-columns: 40% 40% 20%
}

@media(max-width: 1024px) {
    .PackageDetail_input-group__9R9V4 {
        display:flex;
        gap: 16px;
        flex-direction: column
    }

    .CustomerInfo_input-group__bglMl {
        flex-direction: column
    }
}

.FlightSearch_navigation__RkAwu {
    padding: 16px 32px
}

.FlightSearch_flight-search__ApYbG {
    padding: 80px 32px
}

.FlightSearch_flight-content__E4THF {
    padding: 16px 24px;
    max-width: 100%
}

.FlightSearch_partners__PCvwL {
    background: var(--gray-50,#f9fafb)
}

.FlightSearch_filter-mb__aJge0 {
    display: none
}

@media(max-width: 1024px) {
    .FlightSearch_flight-search__ApYbG {
        padding:24px;
        gap: 24px
    }

    .FlightSearch_flight-content__E4THF {
        padding: 16px 0
    }

    .FlightSearch_flight-container__tl_0X {
        flex-direction: column;
        gap: 0
    }

    .FlightSearch_filter-mb__aJge0 {
        display: flex
    }
}
.Card-card-customerinfo{
    display: none;
}